* {
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(245, 245, 245);
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-family: 'Nunito Sans', sans-serif;
}

/* Home btn */

#nav-container {
    position: absolute;
    top: 0;
    left: -40px;
    display: flex;
    flex-flow: column nowrap;
    z-index: 10;
}

.nav-button i {
    color: rgba(0, 0, 0, 0.15);
    font-size: 18px;
    margin-bottom: 12px;
    transition: color 200ms ease-in-out;
}

.nav-button i:hover {
    color: #a16bff;
}

#nav-container[data-margin="1"] {
    top: 20px;
}

/* Main styling */

.gradient-bg {
    background-image: linear-gradient(-45deg, #FF7070, #a16bff);
    padding: 30px;
}

#home-div {
    width: 672px;
    height: auto;

    position: relative;
    display: flex;
    flex-flow: column nowrap;

    border-radius: 6px;
    
    box-shadow: 15px 15px 25px rgba(161, 107, 255, 0.30);
}

h1 {
    font-size: 62px;
    font-weight: 900;
    text-transform: uppercase;

    margin-bottom: 32px;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
}

p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
}

.home-p {
    margin-bottom: 60px;
    line-height: 1.4;
}

.button {
    padding: 16px 32px;
    margin: 12px auto;
    display: inline;
    align-self: center;

    border-radius: 32px;
    border: none;
    background-color: white;

    color: #a16bff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    cursor: pointer;

    box-shadow: 6px 6px 6px rgba(0,0,0,0.16);

    transition-property: color, background-color;
    transition: 250ms ease-in-out;

    position: relative;
}

.button:hover {
    background-color: #703872;
    color: white;
    text-decoration: none;
}

.button:focus {
    outline: none;
}

/* Survey */

#survey-body {
    height: auto;
}

#survey-div {
    width: 672px;
    height: auto;
    min-height: 100vh;

    position: relative;

    box-shadow: 15px 0 25px rgba(161, 107, 255, 0.30);
}

.survey-form-container {
    display: flex;
    flex-flow: column nowrap;
}

.survey-row {
    margin-bottom: 32px;
}

.text-input-box {
    display: block;
}

.label {
    display: block;
}

.required-field h2::after {
    content: attr(data-content);
    font-size: 12px;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
    margin-left: 10px;
}

.text-input {
    display: block;
    width: 100%;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: rgba(0,0,0,0.5);
}

.main-hr {
    margin: 0 0 32px 0;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.5)
}

.dropdown {
    display: block;
    width: 160px;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    color: rgba(0,0,0,0.5);
    background-color: white;
}

.dropdown option {
    color: rgba(0,0,0,0.75);
}

.dropdown:focus {
    outline: none;
}

/* Results  */

#results-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;
}

#results-container {
    width: 620px;
    height: auto;
    
    border-radius: 8px;

    background-image: linear-gradient(0, #703872, #FD7073);

    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.15);
}

#results-display {
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
}

.results-h1 {
    margin-bottom: 12px;
}

.results-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.dispaly-img-container {
    width: 60%;
    height: 320px;
    margin: 6px auto 20px;
}

.results-p {
    margin-bottom: 24px;
}

.profile-image-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    height: 140px;
}

.profile-image-wrapper .left {
    flex-basis: 140px;
    max-width: 140px;
}

.profile-image-wrapper .right {
    flex-grow: 1;
    padding: 16px;
}

.profile-image-wrapper .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.choose-file-btn {

}

/* Mobile */

@media screen and (max-width: 680px) {
    #home-div, #survey-div {
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
    }

    #nav-container {
        top: 30px;
        right: 30px;
        left: unset;
    }

    #nav-container[data-margin="1"] {
        top: inherit;
    }

    .nav-button i {
        color: rgba(255,255,255,0.3);
        font-size: 14px;
    }
    
    .nav-button:hover i {
        color: rgba(255,255,255,0.8);
    }

    #survey-h1 {
        padding-right: 40px;
    }
}